<section id="about" class="about py-5 bg-light" data-aos="fade-up">
    <div class="container">
      <div class="row align-items-center">
        <!-- Profile Image -->
        <div class="col-md-5 mb-4 mb-md-0 text-center">
          <img src="assets\profile.jpg" alt="download" class="img-fluid rounded-circle shadow-lg" style="max-width: 250px;">
        </div>
        <!-- About Text -->
        <div class="col-md-7">
          <h2 class="mb-3">About Me</h2>
          <p class="lead">
            Hi! I’m <strong>Satish Pandey</strong>, a passionate and results-driven <strong>  full-stack Developer </strong> with a strong background in <strong> .Net, MVC,MVC Core,SQL,T-SQL,JQuery, Angular, TypeScript,</strong>  and responsive design. I love building sleek, user-friendly, and modern web applications.
          </p>
          <p>
            <strong> Nearly 4 years </strong>of professional experience in software development with a
            solid focus on .NET technologies since 2020. Skilled in creating robust, scalable,
            and high-performance applications that meet client requirements across various
            domains, particularly in telecommunications.
            Adept at analyzing complex business problems and translating them into
            effective technical solutions. Proven expertise in building custom software
            solutions that optimize processes, enhance operational efficiency, and provide a
            seamless user experience.
          </p>
            <p>
            Strong background in <strong>database management</strong>  and data-driven development.
            Expertise in <strong>SQL Server and Entity Framework</strong> for efficient data modeling,
            querying, and integration, ensuring data integrity and optimized application
            performance.
            Collaborative and proactive team player, with a history of working closely
            with cross-functional teams, including project managers, designers, and QA
            professionals, to deliver successful projects on time and within scope.
            Committed to continuous learning and professional growth, staying abreast of
            the latest advancements in <strong>  .NET technologies </strong>  and software development best
            practices. Actively pursuing certifications to expand my skill set and contribute
            to both personal and organizational growth.
                      </p>
          <a href="assets/SatishPandey_DotNetDeveloper_With_4YrsExp.pdf" target="_blank" class="btn btn-outline-primary mt-3">
            <i class="fas fa-file-download me-2"></i> Download Resume
          </a>
        </div>
      </div>
    </div>
  </section>
  
